.@{s}jsx, .@{s}tsx {
  // NOTE dont prefix this one with `&`
  .@{s}JSXAttrs {
    color: @js-foreground-color;
    > .@{s}attribute-name {
      color: hsl(221, 6%, 49%);
    }
    > .@{s}keyword.@{s}operator.@{s}assignment.@{s}jsx {
      color: hsl(221, 6%, 49%);
    }
  }

  .@{s}punctuation.@{s}definition.@{s}tag {
    color: @subtle-color;
  }

  /**
  * Curly braces in:
  * <div prop={myVar}>
  */
  // &.@{s}tag.@{s}open > .@{s}meta.@{s}brace.@{s}curly > .@{s}punctutation.@{s}curly.@{s}brace {
  //   &.@{s}start, &.@{s}end {
  //     color: hsl(51, 43%, 65%);
  //   }
  // }
  .@{s}punctuation.@{s}section.@{s}embedded {
    &.@{s}begin, &.@{s}end {
      color: @subtle-color;
      font-weight: 700;
    }
  }
  /**
  * e.g. `render` in:
  * render() {
  * }
  */
  .@{s}meta:not(.@{s}method-call) > .@{s}entity.@{s}name.@{s}function {
    color: @eton-blue;
  }
  .@{s}delimiter.@{s}period {
    color: @js-foreground-color;
  }

  /* attribute JS expressions */
  .@{s}meta.@{s}embedded.@{s}expression {
    /* strings */
    &.@{s}string.@{s}quoted, .@{s}string.@{s}quoted > .@{s}other {
      color: hsl(74, 58%, 66%);
      font-style: normal;
    }
    /* template strings interpolation tags */
    &.@{s}string.@{s}quoted.@{s}template .@{s}punctuation.@{s}quasi.@{s}element {
      &.@{s}begin, &.@{s}end {
        color: hsl(0, 0%, 50%);
      }
    }
    /* attribute braces */
    &.@{s}punctuation.@{s}embedded.@{s}section.@{s}jsx {
      &.@{s}begin, &.@{s}end {
        color: hsl(222, 10%, 65%);
        -webkit-text-stroke-color: hsl(222, 10%, 65%);
        -webkit-text-stroke-width: @text-stroke-width-normal
      }
    }
  }

  /* plaintext within html tags */
  .@{s}scope.@{s}tag.@{s}block .@{s}meta.@{s}tag.@{s}block .@{s}meta.@{s}scope {
    color: darken(@js-foreground-color, 10%);
  }

  /* tag names (div, span, etc) */
  &.@{s}entity.@{s}name.@{s}tag {
    color: hsl(0, 0%, 60%);
  }

  /*
  <div>
  {button} <--- this line
  </div>
  */
  .@{s}meta.@{s}scope.@{s}tag.@{s}block .@{s}meta.@{s}scope > .@{s}expression > .@{s}punctuation.@{s}embedded.@{s}section.@{s}jsx {
    @braceColor: hsl(280, 75%, 60%);
    &.@{s}begin, &.@{s}end {
      color: @braceColor;
      -webkit-text-stroke-color: @braceColor;
      -webkit-text-stroke-width: @text-stroke-width-normal;
    }
  }
}
